body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:423px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u0 {
  position:absolute;
  left:123px;
  top:101px;
  width:300px;
  height:170px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1 {
  position:absolute;
  left:2px;
  top:79px;
  width:296px;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:148px 6px;
  -ms-transform-origin:148px 6px;
  -moz-transform-origin:148px 6px;
  -webkit-transform-origin:148px 6px;
}
