body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:865px;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:865px;
}
#u722 {
  position:absolute;
  left:2px;
  top:424px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:47px;
}
#u723 {
  position:absolute;
  left:522px;
  top:510px;
  width:47px;
  height:47px;
}
#u724 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:37px;
}
#u725 {
  position:absolute;
  left:576px;
  top:496px;
  width:94px;
  height:37px;
}
#u726 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u727 {
  position:absolute;
  left:579px;
  top:517px;
  width:29px;
  height:16px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
