body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u1178 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:442px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1180 {
  position:absolute;
  left:279px;
  top:115px;
  width:817px;
  height:667px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:326px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1182 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1183 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1184 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:38px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1186 {
  position:absolute;
  left:305px;
  top:308px;
  width:106px;
  height:38px;
  font-size:14px;
  color:#FFFFFF;
}
#u1187 {
  position:absolute;
  left:2px;
  top:11px;
  width:102px;
  word-wrap:break-word;
}
#u1188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1041px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1188 {
  position:absolute;
  left:305px;
  top:367px;
  width:1041px;
  height:60px;
}
#u1189 {
  position:absolute;
  left:2px;
  top:22px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1190 {
  position:absolute;
  left:370px;
  top:385px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1192 {
  position:absolute;
  left:1193px;
  top:385px;
  width:33px;
  height:16px;
  font-size:16px;
}
#u1193 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1194 {
  position:absolute;
  left:648px;
  top:385px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u1195 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1196 {
  position:absolute;
  left:893px;
  top:385px;
  width:65px;
  height:16px;
  font-size:16px;
}
#u1197 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1198 {
  position:absolute;
  left:338px;
  top:459px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1199 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1200 {
  position:absolute;
  left:586px;
  top:459px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1202 {
  position:absolute;
  left:876px;
  top:459px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1203 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1204 {
  position:absolute;
  left:1166px;
  top:459px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1205 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:1209px;
  top:459px;
  width:1px;
  height:19px;
}
#u1207 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1208 {
  position:absolute;
  left:1220px;
  top:459px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1209 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1210 {
  position:absolute;
  left:305px;
  top:506px;
  width:1041px;
  height:1px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1212 {
  position:absolute;
  left:338px;
  top:535px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1213 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1214 {
  position:absolute;
  left:586px;
  top:535px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1216 {
  position:absolute;
  left:876px;
  top:535px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1218 {
  position:absolute;
  left:1166px;
  top:535px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1219 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1220 {
  position:absolute;
  left:1209px;
  top:535px;
  width:1px;
  height:19px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1222 {
  position:absolute;
  left:1220px;
  top:535px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1223 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1224 {
  position:absolute;
  left:305px;
  top:582px;
  width:1041px;
  height:1px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1226 {
  position:absolute;
  left:338px;
  top:614px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1227 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1228 {
  position:absolute;
  left:586px;
  top:614px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1229 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1230 {
  position:absolute;
  left:876px;
  top:614px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1232 {
  position:absolute;
  left:1166px;
  top:614px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1233 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1234 {
  position:absolute;
  left:1209px;
  top:614px;
  width:1px;
  height:19px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1236 {
  position:absolute;
  left:1220px;
  top:614px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1238 {
  position:absolute;
  left:305px;
  top:661px;
  width:1041px;
  height:1px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1240 {
  position:absolute;
  left:338px;
  top:690px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1242 {
  position:absolute;
  left:586px;
  top:690px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1244 {
  position:absolute;
  left:876px;
  top:690px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1246 {
  position:absolute;
  left:1166px;
  top:690px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:1209px;
  top:690px;
  width:1px;
  height:19px;
}
#u1249 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1250 {
  position:absolute;
  left:1220px;
  top:690px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1251 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1252 {
  position:absolute;
  left:305px;
  top:737px;
  width:1041px;
  height:1px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1254 {
  position:absolute;
  left:338px;
  top:759px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1256 {
  position:absolute;
  left:586px;
  top:759px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1257 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1258 {
  position:absolute;
  left:876px;
  top:759px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1259 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1260 {
  position:absolute;
  left:1166px;
  top:759px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1262 {
  position:absolute;
  left:1209px;
  top:759px;
  width:1px;
  height:19px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1264 {
  position:absolute;
  left:1220px;
  top:759px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1266 {
  position:absolute;
  left:305px;
  top:806px;
  width:1041px;
  height:1px;
}
#u1267 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1268 {
  position:absolute;
  left:338px;
  top:835px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1269 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1270 {
  position:absolute;
  left:586px;
  top:835px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1271 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1272 {
  position:absolute;
  left:876px;
  top:835px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1273 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1274 {
  position:absolute;
  left:1166px;
  top:835px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1275 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1276 {
  position:absolute;
  left:1209px;
  top:835px;
  width:1px;
  height:19px;
}
#u1277 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1278 {
  position:absolute;
  left:1220px;
  top:835px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1279 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1280 {
  position:absolute;
  left:305px;
  top:882px;
  width:1041px;
  height:1px;
}
#u1281 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1282 {
  position:absolute;
  left:338px;
  top:914px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1283 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1284 {
  position:absolute;
  left:586px;
  top:914px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1285 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1286 {
  position:absolute;
  left:876px;
  top:914px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1287 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1288 {
  position:absolute;
  left:1166px;
  top:914px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1290 {
  position:absolute;
  left:1209px;
  top:914px;
  width:1px;
  height:19px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1292 {
  position:absolute;
  left:1220px;
  top:914px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1293 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1294 {
  position:absolute;
  left:305px;
  top:961px;
  width:1041px;
  height:1px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1296 {
  position:absolute;
  left:338px;
  top:990px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1297 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1298 {
  position:absolute;
  left:586px;
  top:990px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1300 {
  position:absolute;
  left:876px;
  top:990px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1301 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1302 {
  position:absolute;
  left:1166px;
  top:990px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1304 {
  position:absolute;
  left:1209px;
  top:990px;
  width:1px;
  height:19px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1306 {
  position:absolute;
  left:1220px;
  top:990px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1308 {
  position:absolute;
  left:305px;
  top:1037px;
  width:1041px;
  height:1px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1310 {
  position:absolute;
  left:338px;
  top:1065px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1311 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1312 {
  position:absolute;
  left:586px;
  top:1065px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1313 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1314 {
  position:absolute;
  left:876px;
  top:1065px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1315 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1316 {
  position:absolute;
  left:1166px;
  top:1065px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1318 {
  position:absolute;
  left:1209px;
  top:1065px;
  width:1px;
  height:19px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1320 {
  position:absolute;
  left:1220px;
  top:1065px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1322 {
  position:absolute;
  left:305px;
  top:1112px;
  width:1041px;
  height:1px;
}
#u1323 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1324 {
  position:absolute;
  left:338px;
  top:1141px;
  width:129px;
  height:19px;
  font-size:16px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1326 {
  position:absolute;
  left:586px;
  top:1141px;
  width:188px;
  height:19px;
  font-size:16px;
}
#u1327 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  white-space:nowrap;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1328 {
  position:absolute;
  left:876px;
  top:1141px;
  width:100px;
  height:19px;
  font-size:16px;
}
#u1329 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1330 {
  position:absolute;
  left:1166px;
  top:1141px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1332 {
  position:absolute;
  left:1209px;
  top:1141px;
  width:1px;
  height:19px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u1334 {
  position:absolute;
  left:1220px;
  top:1141px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u1335 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1042px;
  height:2px;
}
#u1336 {
  position:absolute;
  left:305px;
  top:1188px;
  width:1041px;
  height:1px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1037px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u1338 {
  position:absolute;
  left:409px;
  top:1276px;
  width:32px;
  height:37px;
  color:#C9C9C9;
}
#u1339 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1340 {
  position:absolute;
  left:451px;
  top:1276px;
  width:32px;
  height:37px;
  color:#FFFFFF;
}
#u1341 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1342 {
  position:absolute;
  left:493px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1343 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1344 {
  position:absolute;
  left:535px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1345 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:577px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:619px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1350 {
  position:absolute;
  left:661px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1351 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1352 {
  position:absolute;
  left:703px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1353 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1354 {
  position:absolute;
  left:745px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1355 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:787px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  position:absolute;
  left:829px;
  top:1276px;
  width:32px;
  height:37px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:10px;
  width:28px;
  word-wrap:break-word;
}
#u1360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1360 {
  position:absolute;
  left:1021px;
  top:1284px;
  width:37px;
  height:22px;
  font-size:18px;
}
#u1361 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1362 {
  position:absolute;
  left:1152px;
  top:1284px;
  width:19px;
  height:22px;
  font-size:18px;
}
#u1363 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u1364 {
  position:absolute;
  left:890px;
  top:1276px;
  width:121px;
  height:37px;
}
#u1364_input {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1364_input:disabled {
  color:grayText;
}
#u1365 {
  position:absolute;
  left:890px;
  top:1276px;
  width:105px;
  height:37px;
}
#u1365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1366 {
  position:absolute;
  left:1066px;
  top:1277px;
  width:76px;
  height:37px;
}
#u1366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1367 {
  position:absolute;
  left:1152px;
  top:435px;
  width:58px;
  height:754px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1368 {
  position:absolute;
  left:518px;
  top:376px;
  width:586px;
  height:290px;
  overflow:hidden;
  visibility:hidden;
}
#u1368_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1368_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1369 {
  position:absolute;
  left:137px;
  top:43px;
  width:300px;
  height:170px;
}
#u1370 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1371 {
  position:absolute;
  left:160px;
  top:64px;
  width:34px;
  height:34px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1373 {
  position:absolute;
  left:204px;
  top:70px;
  width:169px;
  height:54px;
}
#u1374 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1375 {
  position:absolute;
  left:238px;
  top:165px;
  width:87px;
  height:31px;
  color:#FFFFFF;
}
#u1376 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377 {
  position:absolute;
  left:335px;
  top:165px;
  width:87px;
  height:31px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1368_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:290px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1368_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:137px;
  top:43px;
  width:300px;
  height:170px;
}
#u1380 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1381 {
  position:absolute;
  left:160px;
  top:64px;
  width:34px;
  height:34px;
}
#u1382 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1383 {
  position:absolute;
  left:204px;
  top:70px;
  width:199px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1384 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u1385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
}
#u1385 {
  position:absolute;
  left:204px;
  top:112px;
  width:211px;
  height:16px;
  color:#D7D7D7;
}
#u1386 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1387 {
  position:absolute;
  left:238px;
  top:165px;
  width:87px;
  height:31px;
  color:#FFFFFF;
}
#u1388 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:335px;
  top:165px;
  width:87px;
  height:31px;
}
#u1390 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1391 {
  position:absolute;
  left:1211px;
  top:430px;
  width:58px;
  height:754px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1392 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1393 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1394 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u1395 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1396 {
  position:absolute;
  left:48px;
  top:519px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1397 {
  position:absolute;
  left:48px;
  top:551px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1398 {
  position:absolute;
  left:310px;
  top:257px;
  width:81px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1399 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1400_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:5px;
}
#u1400 {
  position:absolute;
  left:415px;
  top:286px;
  width:95px;
  height:2px;
}
#u1401 {
  position:absolute;
  left:2px;
  top:-7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1402 {
  position:absolute;
  left:430px;
  top:257px;
  width:65px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1403 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1404 {
  position:absolute;
  left:417px;
  top:170px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1406 {
  position:absolute;
  left:794px;
  top:170px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u1407 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1408 {
  position:absolute;
  left:1173px;
  top:170px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1409 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1410 {
  position:absolute;
  left:300px;
  top:237px;
  width:102px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1411 {
  position:absolute;
  left:417px;
  top:237px;
  width:95px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1097px;
  height:104px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:300px;
  top:108px;
  width:1097px;
  height:104px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:44px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1414 {
  position:absolute;
  left:417px;
  top:138px;
  width:91px;
  height:22px;
  font-size:18px;
}
#u1415 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1416 {
  position:absolute;
  left:794px;
  top:138px;
  width:109px;
  height:22px;
  font-size:18px;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1418 {
  position:absolute;
  left:1173px;
  top:138px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1420 {
  position:absolute;
  left:449px;
  top:160px;
  width:21px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1422 {
  position:absolute;
  left:828px;
  top:160px;
  width:41px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1424 {
  position:absolute;
  left:1164px;
  top:160px;
  width:91px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
