body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u639 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u640 {
  position:absolute;
  left:2px;
  top:442px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u641 {
  position:absolute;
  left:279px;
  top:115px;
  width:817px;
  height:667px;
}
#u642 {
  position:absolute;
  left:2px;
  top:326px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u643 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u644 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u645 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u647 {
  position:absolute;
  left:279px;
  top:115px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u648 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:2px;
}
#u649 {
  position:absolute;
  left:279px;
  top:144px;
  width:1057px;
  height:1px;
}
#u650 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:236px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:291px;
  top:164px;
  width:215px;
  height:236px;
}
#u652 {
  position:absolute;
  left:2px;
  top:110px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u653 {
  position:absolute;
  left:356px;
  top:198px;
  width:82px;
  height:82px;
}
#u654 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u655 {
  position:absolute;
  left:319px;
  top:335px;
  width:160px;
  height:39px;
  color:#FFFFFF;
}
#u656 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u657 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u658 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u659 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u661 {
  position:absolute;
  left:48px;
  top:519px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u662 {
  position:absolute;
  left:48px;
  top:551px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
