body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u692 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u693 {
  position:absolute;
  left:2px;
  top:442px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:279px;
  top:115px;
  width:817px;
  height:667px;
}
#u695 {
  position:absolute;
  left:2px;
  top:326px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u696 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u697 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u698 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u700 {
  position:absolute;
  left:279px;
  top:115px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:2px;
}
#u702 {
  position:absolute;
  left:279px;
  top:144px;
  width:1057px;
  height:1px;
}
#u703 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1053px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:236px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u704 {
  position:absolute;
  left:291px;
  top:164px;
  width:215px;
  height:236px;
}
#u705 {
  position:absolute;
  left:2px;
  top:110px;
  width:211px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:82px;
}
#u706 {
  position:absolute;
  left:356px;
  top:198px;
  width:82px;
  height:82px;
}
#u707 {
  position:absolute;
  left:2px;
  top:33px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:39px;
}
#u708 {
  position:absolute;
  left:319px;
  top:335px;
  width:160px;
  height:39px;
  color:#FFFFFF;
}
#u709 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u712 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u713 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u714 {
  position:absolute;
  left:48px;
  top:519px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u715 {
  position:absolute;
  left:48px;
  top:551px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
