body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1580px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u1412 {
  position:absolute;
  left:0px;
  top:0px;
  width:1580px;
  height:900px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:442px;
  width:1576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:817px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  position:absolute;
  left:279px;
  top:115px;
  width:817px;
  height:667px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:326px;
  width:813px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1416 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1418 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1420 {
  position:absolute;
  left:415px;
  top:113px;
  width:81px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1422_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:5px;
}
#u1422 {
  position:absolute;
  left:518px;
  top:142px;
  width:95px;
  height:2px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:-7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u1424 {
  position:absolute;
  left:305px;
  top:113px;
  width:65px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u1425 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1426 {
  position:absolute;
  left:525px;
  top:113px;
  width:81px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1428 {
  position:absolute;
  left:635px;
  top:113px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1430 {
  position:absolute;
  left:70px;
  top:528px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1432 {
  position:absolute;
  left:63px;
  top:561px;
  width:71px;
  height:16px;
  color:#FFFFFF;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1434 {
  position:absolute;
  left:48px;
  top:519px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1435 {
  position:absolute;
  left:48px;
  top:551px;
  width:100px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1436 {
  position:absolute;
  left:290px;
  top:93px;
  width:95px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1437 {
  position:absolute;
  left:405px;
  top:93px;
  width:102px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1438 {
  position:absolute;
  left:517px;
  top:93px;
  width:95px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1439 {
  position:absolute;
  left:622px;
  top:93px;
  width:95px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1440 {
  position:absolute;
  left:305px;
  top:180px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1441 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1442_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:98px;
  height:5px;
}
#u1442 {
  position:absolute;
  left:306px;
  top:211px;
  width:95px;
  height:2px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:-7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444 {
  position:absolute;
  left:306px;
  top:237px;
  width:1076px;
  height:188px;
}
#u1444_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:188px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1445 {
  position:absolute;
  left:1011px;
  top:461px;
  width:160px;
  height:50px;
  font-size:16px;
  color:#FFFFFF;
}
#u1446 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1447 {
  position:absolute;
  left:1222px;
  top:461px;
  width:160px;
  height:50px;
  font-size:16px;
  color:#000000;
}
#u1448 {
  position:absolute;
  left:2px;
  top:16px;
  width:156px;
  word-wrap:break-word;
}
#u1449 {
  position:absolute;
  left:829px;
  top:461px;
  width:165px;
  height:50px;
}
#u1449_input {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#BCBCBC;
}
#u1449_input:disabled {
  color:grayText;
}
#u1450 {
  position:absolute;
  left:518px;
  top:230px;
  width:586px;
  height:290px;
  overflow:hidden;
  visibility:hidden;
}
#u1450_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:290px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1450_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451 {
  position:absolute;
  left:137px;
  top:43px;
  width:300px;
  height:170px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1453 {
  position:absolute;
  left:160px;
  top:64px;
  width:34px;
  height:34px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:204px;
  top:70px;
  width:169px;
  height:51px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1457 {
  position:absolute;
  left:238px;
  top:165px;
  width:87px;
  height:31px;
  color:#FFFFFF;
}
#u1458 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1459 {
  position:absolute;
  left:335px;
  top:165px;
  width:87px;
  height:31px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1450_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:290px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1450_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1461 {
  position:absolute;
  left:137px;
  top:43px;
  width:300px;
  height:170px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u1463 {
  position:absolute;
  left:150px;
  top:64px;
  width:34px;
  height:34px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1465 {
  position:absolute;
  left:194px;
  top:70px;
  width:235px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(114, 179, 82, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1467 {
  position:absolute;
  left:238px;
  top:165px;
  width:87px;
  height:31px;
  color:#FFFFFF;
}
#u1468 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1469 {
  position:absolute;
  left:335px;
  top:165px;
  width:87px;
  height:31px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
